/* 这是导购模块的css
创建于: 2021-11-25 */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
.wrap{width: 1000px;margin: 0px auto;}
ul{list-style: none;}
main{
    margin-top: 80px;
}
main>#header{
    width: 100%;
    background-color: white;
    text-align: center;
}
main>#header>p:first-of-type{
    padding: 34px 0px;
    font-size: 40px;
}
main>#header>p>span{
    display: inline-block;
    width: 165px;
    font-size: 18px;
    padding-bottom: 8px;
}
main>#header>p>.nav{
    border-bottom: 3px solid #fe5431;
    color: #fe5431;
}
main>.wrap>ul{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
main>.wrap>ul>li{
    width: 23%;
    margin: 10px;
    position: relative;
    height: 220px;
}
main>.wrap>ul>li>div{
    position: absolute;
    width: 100%;
    height: 210px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    left: 0px;
    top: 0px;
}
main>.wrap>ul>li>div:nth-of-type(1){
    width: 80%;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
}
main>.wrap>ul>li>div:nth-of-type(2){
    width: 90%;
    height: 215px;
    left: 50%;
    transform: translateX(-50%);
}
main>.wrap>ul>li>div>img{
    width: 100%;
    border-radius: 5px;
}
main>.wrap>ul>li>div>span{
    text-align: left;
    font-size: 12px;
}
main>.wrap>ul>li>div>div{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    letter-spacing: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ababab;
}
main>#more{
    margin: 20px 0px;
    text-align: center;
    color: #fe5431;   
}
main>#more>span{
    font-size: 20px;
}
main>#more>span:hover{
    cursor: pointer;
}
@keyframes mack {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
main>.wrap>ul>li:hover>div>img{
    animation: mack 1.5s linear 0s infinite both;
}