/* 这是导购模块detail的css
创建于: 2021-11-26 */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
.wrap{width: 1000px;margin: 0px auto;}
ul{list-style: none;}
main{
    margin-top: 80px;
    overflow: auto;
}
main>p{
    font-size: 12px;
    color: #ababab;
    line-height: 12px;
}
main>.wrap{
    margin-top: 20px;
}
main>.wrap>.left{
    width: 700px;
    float: left;
    background: white;
}
main>.wrap>.left>.title{
    border-bottom: 1px solid #ccc;
    padding: 20px 30px;
    box-sizing: border-box;
}
main>.wrap>.left>.title>p{
    font-size: 25px;
}
main>.wrap>.left>.title>div{
    margin:20px 0px 10px 0px;
}

main>.wrap>.left>.title>div>span{
    font-size: 12px;
    color: #ababab;
}
main>.wrap>.left>.title>div>span>img{
    width: 25px;
    float: left;
}
main>.wrap>.left>.title>div>span:nth-of-type(2){
    float: right;
}
main>.wrap>.left>.text{
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
}
main>.wrap>.left>.text p{
    margin: 10px 0px;
    font-size: 14px;
}
main>.wrap>.left>.text img{
    margin: 10px 0px;
}
main>.wrap>.left>.text h4{
    text-align: center;
}
main>.wrap>.left>a{
    display: block;
    padding-left: 30px;
    font-size: 14px;
    color: #ababab;
    text-decoration: none;
    margin: 5px 0px;
}
main>.wrap>.right{
    float: right;
    width: 260px;
    display: flex;
    overflow: hidden;
}
main>.wrap>.right>span{
    text-align: center;
    background-color: white;
    width:130px;
    height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
    color: #ababab;
    border-left: 1px solid #ccc;
    font-size: 14px;
    margin-left: -1px;
}
main>.wrap>.right>span>img{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
main>.wrap>.right>span:hover{
    cursor: pointer;
}
