* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.nav_container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    height: 65%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    padding: 0 25px;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav li a:hover {
    color: #fe5341;
}

.search {
    width: 27px;
    height: 30px;
    margin-left: 220px;
    transition: all .8s;
}

.search:hover {
    transform: scale(1.2);
}

.registerbtn {
    width: 50px;
    height: 30px;
    border: 1px solid #fe5341;
    border-radius: 3px;
    color: #fe5341;
    background-color: white;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.registerbtn:hover {
    color: white;
    background-color: #fe5341;
}

footer {
    height: 340px;
    background-color: rgb(80, 80, 80);
    overflow: auto;
}

.list_container {
    width: 1000px;
    margin: 40px auto 60px;
    color: #a3a3a3;
    display: flex;
    justify-content: space-between;
}

.list_container dl dt {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
}

.list_container dl dd {
    font-size: 12px;
    margin: 5px 0;
}

.list_container dl dd a {
    color: #a3a3a3;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 10px;

}

footer p {
    text-align: center;
    color: #a3a3a3;
}

/* article {
    height: 1250px;
    margin-top: 100px;
} */