* {
    margin: 0;
    padding: 0;
}

.backtop {
    opacity: .6;
    width: 50px;
    height: 50px;
    position: fixed;
    display: none;
    z-index: 5;
    bottom: 50px;
    right: 150px;
    background-color: rgb(198, 198, 198);
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}

.focusimg {
    height: 300px;
    background-image: url(../img/original.jpg);
    background-size: cover;
    background-position: -200px;
    color: white;
    position: relative;
    overflow: hidden;
}

.font_container {
    position: absolute;
    top: 40px;
    right: 260px;
    text-align: right;

    animation: focusfont 1s forwards;
}

@keyframes focusfont {
    from {
        transform: translate(500px, -500px);
    }

    to {
        transform: translate(0, 0);
    }
}

.font_container h2 {
    font-size: 35px;
    font-weight: 400;
}

.font_container span {
    padding: 5px 10px;
    margin: 10px 6px;
    border-radius: 3px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    background-color: rgba(248, 248, 248, 0.3);
}

.font_container p {
    font-size: 20px;
}

.font_container button {
    width: 250px;
    height: 50px;
    background-color: #fe5341;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-weight: bold;
    width: 1000px;
    margin: 15px auto;

}

.scrollimg {
    position: relative;
    padding-bottom: 20px;
}

.leftarrow {
    background-image: url(../img/prev.png);
    width: 37px;
    height: 78px;
    position: absolute;
    left: 200px;
    top: 150px;
    cursor: pointer;
}

.rightarrow {
    background-image: url(../img/next.png);
    width: 37px;
    height: 78px;
    position: absolute;
    right: 200px;
    top: 150px;
    cursor: pointer;
}

.scrollimg>h2 {
    margin: 0 0 10px 260px;
}

.scrollimg_container {
    height: 300px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.scrollimg_thing {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
}

.scrollimg_thing li {
    display: flex;
    align-items: center;
}

.scroll_element {
    width: 220px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 5px 14px;
}

.scroll_element h2 {
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    margin-top: 10px;
}

.scroll_element span {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 5px 8px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 12px;
    line-height: 25px;
    color: red;
}

.scroll_element h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 3px 0;
}

.scroll_element h4 {
    margin: 3px 0;
    font-size: 15px;
    font-weight: 400;
}

.report {
    height: 600px;
    background-color: rgb(247, 247, 247);
    overflow: auto;
}

article {
    margin-top: 80px;
}

.title span{
    font-size: 15px;
    font-weight:normal;
    float: right;
    color: rgb(254,83,65);
    cursor: pointer;
}
.title span img{
    width: 13px;
    height: 13px;
}

.report_content{
    width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.report_content_element{
    width: 220px;
    height: 240px; 
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin: 10px 0;
    position: relative;
}
.report_content_element p{
    font-size: 16px;
    font-weight: lighter;
    margin:10px;
}
.report_content_element>div{
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgb(163,163,163);
    font-size: 13px;
    margin-left:10px;
}
.report_content_element>div span::before{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(163,163,163);
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.report_content_element .thumbs{
    float: right;
    margin-right: 20px;
}




.guide_content{
    width: 1000px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.guide_content .guide_content_element{
    width: 23%;
    margin: 10px;
    position: relative;
    height: 220px;
}
.guide_content_element>div{
    position: absolute;
    width: 100%;
    height: 210px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    left: 0px;
    top: 0px;
}
.guide_content_element>div:nth-of-type(1){
    width: 80%;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
}
.guide_content_element>div:nth-of-type(2){
    width: 90%;
    height: 215px;
    left: 50%;
    transform: translateX(-50%);
}
.guide_content_element>div>img{
    width: 100%;
    border-radius: 5px;
}
.guide_content_element>div>span{
    margin-left: 6px;
    text-align: left;
    font-size: 16px;
}
.guide_content_element>div>div{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    letter-spacing: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ababab;
}

.coldplay{
    background-color: rgb(247,247,247);
    overflow: auto;
}
.coldplay_content{
    width: 1000px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.coldplay_content_element{
    width: 220px;
    height: 265px; 
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin: 10px 0;
    position: relative;
}
.coldplay_content_element p:nth-of-type(1){
    font-size: 16px;
    font-weight: lighter;
    margin:10px;
}
.coldplay_content_element p:nth-of-type(2){
    font-size: 12px;
    font-weight: lighter;
    margin: 5px 10px;
    color: #ccc;
}
.coldplay_content_element>div{
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgb(163,163,163);
    font-size: 13px;
    margin-left:10px;
}
.coldplay_content_element>div span{
    color: red;
    font-size: 15px;
}
.coldplay_content_element .thumbs{
    float: right;
    margin-right: 20px;
}

.loading{
    height: 120px;
    color: rgb(254,83,65);
    text-align: center;
    overflow: auto;
    background-color: rgb(247,247,247);
}
.loading p{
    margin: 40px auto;
}
.moreimg{
    cursor: pointer;
}
.loadimg {
    display: none;
    cursor: pointer;
}
.loadimg img{
    vertical-align:bottom;
}