article{
    overflow: auto;
    background-color: rgb(247,247,247);
}

.register_container{
    width: 1000px;
    margin: 30px auto;
    padding: 20px 0;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.register_container h2{
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    border-left: 5px solid rgb(254,83,65);
}
.imformation{
    width: 60%;
    margin: 60px auto;
    text-align: center;
}
.imformation input {
    height: 50px;
    background-color: rgb(247,247,247);
    border:0;
    border-radius: 10px;
    margin: 15px 0;
    padding: 5px 10px;
    font-size: 17px;
    box-sizing: border-box;
}

#phone_number,#username,#password,#confirmpwd{
    width: 400px;
}
#check_code{
    width: 240px;
}
#postcodebtn{
    height: 50px;
    margin-left: 12px;
    width: 140px;
    border: 1px solid rgb(254,83,65);
    border-radius: 10px;
    color: rgb(254,83,65);
    /* color: #a3a3a3; */
    background-color: white;
    cursor: pointer;
}
#identifying_code{
    width: 240px;
    margin-right: 12px;
}
.imgCode{
    width: 140px;
    height: 50px;
    margin: 20px 0;
    vertical-align:middle
}
#registerbtn{
    width: 400px;
    height: 50px;
    border: 0;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(254,83,65);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.error_container{
    width: 280px;
    height: 500px;
    position: absolute;
    top: 105px;
    right: 0;
}
.error_container p{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin: 16px 0 32px 10px;
    color: red;
    opacity: 0;
}

.mask{
    width: 100%;
    height: 760px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(134, 134, 134, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.tips{
    background-color: white;
    width: 500px;
    height: 300px;
    padding: 20px 20px;
    text-align: center;
} 
.tips h1{
    text-align: left;
    font-size: 30px;
    color: rgb(254,83,65);
}
.tips p{
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}
.tips button{
    margin: 50px 20px;
    width: 160px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(254,83,65);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.tips .gotoindexbtn{
    background-color: rgb(153, 153, 153);
}
