/* 这里是report_index.html的css样式
创建于：2021-11-25 */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
.clearbox{clear: both;}
.wrap{width: 1000px;margin: 0px auto;}
ul{list-style: none;}
main{
    margin-top: 80px;
    overflow: auto;
}
main>#header{
    width: 100%;
    background-color: white;
    text-align: center;
}
main>#header>p:first-of-type{
    padding: 34px 0px;
    font-size: 40px;
}
main>#header>p>span{
    display: inline-block;
    width: 165px;
    font-size: 18px;
    padding-bottom: 8px;
}
main>#header>p>.nav{
    border-bottom: 3px solid #fe5431;
    color: #fe5431;
}
main>.wrap{
    padding-top: 20px;
}
main>.wrap>#left{
    float: left;
    width: 700px;
}
main>.wrap>#left>ul>li{
    margin-bottom: 15px;
}
main>.wrap>#left>ul>li>div>img{
    width: 700px;
    border-radius: 10px;
}
main>.wrap>#left>ul>li>div:first-of-type{
    position: relative; 
}
main>.wrap>#left>ul>li>div>div{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-color: white;
    padding-top:10px ;
    box-sizing: border-box;
    opacity: .8;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
main>.wrap>#left>ul>li>div>div>span{
    font-size: 16px;
    position: absolute;
    bottom: 20px;
}
main>.wrap>#left>ul>li>div>div>span:nth-of-type(1){
    left: 20px;
}
main>.wrap>#left>ul>li>div>div>span:nth-of-type(2){
    right: 20px;
}
main>.wrap>#left>ul>li>div>div>span:first-of-type>img{
    border-radius: 50%;
    width: 25px;
}
main>.wrap>#left>ul>li>div:nth-of-type(2){
    text-align: center;
    height: 40px;
    color: #ababab;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid #ababab;
    border-radius: 10px;
}
main>.wrap>#left>ul>li:hover{
    cursor: pointer;
}
main>.wrap>#left>ul>li:hover>div>img{
    animation: mack 1.5s linear 0s infinite both;
}
@keyframes mack {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
main #more{
    margin: 20px 0px;
    text-align: center;
    color: #fe5431;   
}
main #more>span{
    font-size: 20px;
}
main #more>span:hover{
    cursor: pointer;
}
main>.wrap>#right{
    float: right;
    width: 270px;
    height: 500px;
}
main>.wrap>#right>.title{
    margin: 10px 0px 20px 0px;
    padding-left: 30px;
    font-size: 18px;
    border-left: 5px solid #fe5431;
}
main>.wrap>#right>dl{
    margin: 10px 0px 80px 0px;
    color: #ababab;
    font-size: 14px;
}
main>.wrap>#right>dl>dt{
    margin: 10px 0px;
    color: black;
    font-weight: 900;
    font-size: 16px;
}